<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="row">
    				<div class="col-md-12">
    					<h3 class="text-center">
    						Mission to Mars
    					</h3> 
                        <p><a class="btn active btn-md btn-primary btn-block" href="/scrape" role="button">Update data!</a></p>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<h3>
                            {{mars[1]['title']}}
    					</h3>
    					<p>
                            {{mars[1]['paragraph']}}
    					</p>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-8">
    					<h3>
    						Featured Mars Image
    					</h3><img alt="Featured_img" src="{{mars[2]['featured_img']}}" />
    				</div>
    				<div class="col-md-4">
    					<h3>
    						Mars Facts
    					</h3>
    					<table class="table">
    						<thead>
    							<tr>
    								<th>
    									{{mars[0]['category'][0]}}
    								</th>
    								<th>
    									{{mars[0]['mars'][0]}}
    								</th>
    								<th>
    									{{mars[0]['earth'][0]}}
    								</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td>
    									{{mars[0]['category'][1]}}
    								</td>
    								<td>
    									{{mars[0]['mars'][1]}}
    								</td>
    								<td>
    									{{mars[0]['earth'][1]}}
    								</td>
    							</tr>
    							<tr class="table-active">
    								<td>
    									{{mars[0]['category'][2]}}
    								</td>
    								<td>
    									{{mars[0]['mars'][2]}}
    								</td>
    								<td>
    									{{mars[0]['earth'][2]}}
    								</td>
    							</tr>
    							<tr class="table-success">
    								<td>
    									{{mars[0]['category'][3]}}
    								</td>
    								<td>
    									{{mars[0]['mars'][3]}}
    								</td>
    								<td>
    									{{mars[0]['earth'][3]}}
    								</td>
    							</tr>
    							<tr class="table-warning">
    								<td>
    									{{mars[0]['category'][4]}}
    								</td>
    								<td>
    									{{mars[0]['mars'][4]}}
    								</td>
    								<td>
    									{{mars[0]['earth'][4]}}
    								</td>
    							</tr>
    							<tr class="table-danger">
    								<td>
    									{{mars[0]['category'][5]}}
    								</td>
    								<td>
    									{{mars[0]['mars'][5]}}
    								</td>
    								<td>
    									{{mars[0]['earth'][5]}}
    								</td>
    							</tr>
    							<tr class="table-danger">
    								<td>
    									{{mars[0]['category'][6]}}
    								</td>
    								<td>
    									{{mars[0]['mars'][6]}}
    								</td>
    								<td>
    									{{mars[0]['earth'][6]}}
    								</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<h3 class="text-center">
    						Mars Hemispheres
    					</h3>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-3">
    					<img alt="Bootstrap Image Preview" src="{{mars[3]['images'][0]}}" />
    					<h3>
    						{{mars[3]['titles'][0]}}
    					</h3>
    				</div>
    				<div class="col-md-3">
    					<img alt="Bootstrap Image Preview" src="{{mars[3]['images'][1]}}" />
    					<h3>
    						{{mars[3]['titles'][1]}}
    					</h3>
    				</div>
    				<div class="col-md-3">
    					<img alt="Bootstrap Image Preview" src="{{mars[3]['images'][2]}}" />
    					<h3>
    						{{mars[3]['titles'][2]}}
    					</h3>
    				</div>
    				<div class="col-md-3">
    					<img alt="Bootstrap Image Preview" src="{{mars[3]['images'][3]}}" />
    					<h3>
    						{{mars[3]['titles'][3]}}
    					</h3>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</body>

</html>